cycler==0.12.1
Cython==3.0.3
decorator==5.1.1
fonttools==4.43.1
GPy==1.10.0
GPyOpt==1.2.6
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.5.3
mdurl==0.1.2
numpy==1.22.4
packaging==23.2
pandas==2.0.3
paramz==0.9.5
Pillow==10.0.1
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
rich==13.6.0
scipy==1.10.1
seaborn==0.13.0
six==1.16.0
typing-extensions==4.8.0
tzdata==2023.3
